.git
.gitignore
.github
.venv
.vscode
.idea
.DS_Store
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
*.log
.env
.env.*
!.env.example

docs
data
main_task_innovate.pdf
problem.txt
README.md

Dockerfile
.dockerignore
docker-compose.yml
Caddyfile
fly.toml
run.sh
